*{
	margin: 0px;
}
body{
	font-family: 'Ubuntu', sans-serif;
	background:url(../img/ijkl.jpg);
	background-size: cover;
	background-repeat: no-repeat; 
}

.container {
	width: 500px;
	margin: 10% auto;
}

.forgot-section{
	background-color: #1f1d1d6b;
	padding: 20px;
	border-radius: 13px;

}
.forgot-section h3{
	text-align: center;
	color: white;
	font-size: 26px;
	padding: 10px;
	
}

.forgot-section p{
	text-align: center;
	color: white;
	font-size: 17px;
	padding: 10px;
	margin-bottom: 12px;
	
}

.form-control{
	width: 90%;
	margin: 0 auto;
	display: block;
	padding: 10px 15px;
	margin-bottom: 11px;
	border-radius: 13px;
	border: none;

}
.submit-btn{
	font-size: 17px;
	background-color: #f50303ad;
	padding: 10px 30px;
	color: #fff;
	margin: 0 auto;
	display: block;
	border: none;
	border-radius: 13px;
	text-transform: uppercase;
}
.submit-btn:hover{
	box-shadow: 2px 3px 5px white;
	cursor: pointer;
	transition: 0.8s;
}
